.register_new_game{
    display: flex;
    text-align: center;
    background-color: green;
    padding: 1em;
    margin: 1em 10em;
}

.game {
    border: solid lightyellow;
    padding: 1em;
    margin: 3em 50em 0em 6em;
}

.form-control {
    padding: 5em;
}

.gameForm__title {
    padding: 0em;
    margin: 0em 4em 0em 2em;
}

.create-game-button {
    border: solid;
    background:green;
    padding: 1em;
    margin: 0em 3em 2em 5em;
}